h1= title
p 
  | Authenticate please.

form(action=action, method='post')
  label(for='user')
    | Name
  input(type='text', name='user', id='user')
  
  br
  
  label(for='password')
    | Password
  input(type='password', name='password', id='password')
 
  input(type='submit')
