!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #header
      - if (this.getAuthDetails() && this.getAuthDetails().user)
        = this.getAuthDetails().user.name
        &nbsp;
        a(href="/logout") logout
      - else
        | login
      p
        = this.url
    
    != body

    //!= partial('dump-this')