!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/requireplugins-jquery-1.4.4.js", data-main="main") 
  body
    #header
      - if (typeof authDetails !== 'undefined')
        #{authDetails.user.name}
    
    != body
