h1 #{title}

form(action=actionUrl, method='post')
  table
    tr
      td
        label(for='user')
          | User name
      td
        input(type='text', name='user', id='user')
    tr
      td
        label(for='name')
          | Real name
      td
        input(type='text', name='name', id='name')
        

  label(for='user')
    | Name
  input(type='text', name='user', id='user')
  
  br
  
  label(for='password')
    | Password
  input(type='password', name='password', id='password')
 
  input(type='submit')
