!background = #000060
!foreground = white

body
  :padding 0.5em
  :font 14px "Lucida Grande", Helvetica, Arial, sans-serif
  
  :color {foreground}
  :background-color {background}

a
  :color red

#header
  :position relative
  :border-bottom solid 1px {foreground}
  :margin-bottom 0.5em
  .title
    :font-size 1.8em
    :font-weight bold
    a
      :color {foreground}
      :text-decoration none
  .loginout
    :position absolute
    :top 0
    :right 0

label
  :font-weight bold
  
.input-comment
  :font-style italic
  :color gray
  
.validation
  :color red
