body {
  padding: 0.5em;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  background-color: #000060;}

a {
  color: red;}

#header {
  position: relative;
  border-bottom: solid 1px white;
  margin-bottom: 0.5em;}
#header .title {
  font-size: 1.8em;
  font-weight: bold;}
#header .title a {
  color: white;}
#header .loginout {
  position: absolute;
  top: 0;
  right: 0;}

label {
  font-weight: bold;}

.input-comment {
  font-style: italic;
  color: gray;}

.validation {
  color: red;}
